html, body {
    margin: 0;
    height: 100%;
    background-color: black;
}
td, h2, h3, p, pre{
    color: white;
}
th{
    background-color: #00080C;
    border: #d2738a solid 1px;
    color: #d2738a;
}
input, textarea{
    background-color: #00080C;
    color: white;
}
.submit_header, .no_bg_header{
    background-color: black;
    border: none;
}
.submit_header input, .no_bg_header input{
    color: #d2738a;
    border: #d2738a outset; 1px;
}
.delete_button{
    color: #46963f;
    border: #d2738a outset; 1px;
}
.confirm_button{
    border: #d2738a outset; 1px;
}
.topic_title{
    display: flex;
    flex-direction: column;
    margin:50px;
}
.topic_title *{
    margin: 0;
}
.topic_title h2{
    color: #d2738a;
    font-size: 2em;
    color: rgb(193, 180, 146);
}
.topic_title p{
    color: #d2738a;
}
button{
    color: #d2738a;
    background-color: #00080C;
    border: #d2738a outset; 1px;
}
button:hover{
    cursor: pointer;
}
pre, span{
    white-space: pre-line;
    color: rgb(193, 180, 146);
    font-size: 0.85em;
}
fieldset{
    border-top: #d2738a double 5px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
a:visited{
    color: #d2738a;
    text-decoration: none;
}
button a{
    text-decoration: none;
}
a{
    color: #d2738a;
}
.user_reply a{
    color: #d2738a;
    text-decoration: none;
}
.user_reply a:hover{
    color: red;
}
header{
    display: flex;
    justify-content: center;
}
header button{
    margin: 10px;
}
#topics{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
}
#topics a{
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
}
#topics a:hover{
    text-decoration: underline;
}
.user_index{
    color: green;
    font-size: 1.0em;
}
.admin_link{
    color: #46963f;
}
.admin_link:visited{
    color: #46963f;
}
.title_index{

}
.review_img{
    max-width: 30%;
    max-height: 50%;
    align-self: center;
    float: left;
    margin: 10px;
    cursor: pointer;
}
.post{
    display: flex;
    flex-direction: column;
}
.post_preview{
	width: 95%;
    margin: 10px;
}
.comment{
    display: flex;
    flex-direction: column;
	border: #d2738a solid 1px;
    margin: 10px;
}
#catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.catalog_post{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 192px;
    justify-content: space-between;
    padding-top: 8px;
    padding-botton: 8px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 5px;

    border: black solid 1px;
}
.catalog_post *{
    text-align: center;
}
.catalog_post span{
    overflow: hidden;
}
.catalog_post img{
    max-height: 33%;
    max-width: 95%;
    align-self: center;
}
#comment_form table{
    margin-right: auto;
    margin-left: auto;
}
#post_form table{
    margin-right: auto;
    margin-left: auto;
}
#archive_table{
    border: black solid 1px;
    margin-right: auto;
    margin-left: auto;
}
#archive_table th{
    border: black solid 1px;
}
#archive_table td{
    border: black solid 1px;
}
.excerpt{
    width: 70vw;
}