html, body {
    margin: 0;
    height: 100%;
}
header{
    display: flex;
}
header button{
    margin: 10px;
}
#topics{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#topics a{
    margin-right: 5px;
    margin-left: 5px;
}
.user_index{
    color: green;
}
.title_index{

}
.review_img{
    max-height: 125px;
    align-self: center;
    float: left;
    margin: 10px;
    cursor: pointer;
}
.post{
    display: flex;
    flex-direction: column;
}
.post_preview{
	width: 95%;
    margin: 10px;
    background-color: azure;
}
.comment{
    display: flex;
    flex-direction: column;
	border: black dashed 1px;
    background-color: #c1e6e6;
    margin: 10px;
}
#catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.catalog_post{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 192px;
    justify-content: space-between;
    padding-top: 8px;
    padding-botton: 8px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 5px;

    border: black solid 1px;
}
.catalog_post *{
    text-align: center;
}
.catalog_post span{
    overflow: hidden;
}
.catalog_post img{
    max-height: 33%;
    max-width: 95%;
    align-self: center;
}
#comment_form table{
    margin-right: auto;
    margin-left: auto;
}
#post_form table{
    margin-right: auto;
    margin-left: auto;
}
#archive_table{
    border: black solid 1px;
    margin-right: auto;
    margin-left: auto;
}
#archive_table th{
    border: black solid 1px;
}
#archive_table td{
    border: black solid 1px;
}
.excerpt{
    width: 70vw;
}